.s1 {
  position: fixed;
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
  background-size: cover;
  background-color: deepskyblue;
}

.s1 .text {
  position: relative;
  margin-top: 23vh;
  text-align: center;
  font-size: 110px;
  line-height: 169px;
  cursor: default;
  color: white;
}

.arrow {
  position: absolute;
  width: 100vw;
  height: 333px;
  top: calc(72vh);
  background-image: url(../images/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: move 3s infinite;
  -webkit-animation: move 3s infinite;
}

@-webkit-keyframes move {
  0% {top: calc(72vh);}
  25% {top: calc(69vh);}
  50% {top: calc(72vh);}
  75% {top: calc(70vh);}
  100% {top: calc(72vh);}
}

@keyframes move {
  0% {top: calc(72vh);}
  25% {top: calc(69vh);}
  50% {top: calc(72vh);}
  75% {top: calc(70vh);}
  100% {top: calc(72vh);}
}

.s2 {
  position: absolute;
  width: 100vw;
  margin-top: 100vh;
  height: 1660px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #defaff;
  -webkit-box-shadow: 0px -1px 17px 1px rgba(31,27,31,1);
  -moz-box-shadow: 0px -1px 17px 1px rgba(31,27,31,1);
  box-shadow: 0px -1px 17px 1px rgba(31,27,31,1);
}

.gifwrap {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 20px;
}

.gif {
  position: relative;
  width: 210px;
  height: 273px;
  background-size: cover;
  background-image: url(../images/g.gif);
  left: 74vw;
}

.s2 .text1 {
  position: relative;
  margin: 60px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  cursor: default;
  text-align: left;
}

.s2 .text2 {
  position: relative;
  top: 10px;
  margin-left: 60px;
  font-size: 44px;
  cursor: default;
  line-height: 66px;
}

.posters {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 60px;
  justify-content: space-between;
}

.poster1, .poster2, .poster3 {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}

.poster1:hover, .poster2:hover, .poster3:hover {
  background-color: #b5e5ea;
  cursor: pointer;
}

.poster1 p, .poster2 p, .poster3 p {
  position: absolute;
  width: 227px;
  margin-top: 18px;
  margin-left: 350px;
  font-size: 18px;
}

.poster2 {
  position: relative;
  margin-right: 95px;
}

.p1 {
  width: 334px;
  height: 506px;
  background-image: url(../images/parachu.svg);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
}

.p2 {
  width: 334px;
  height: 506px;
  background-image: url(../images/mara.svg);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
}

.poster {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 60px;
  justify-content: space-between;
}

.p3 {
  width: 334px;
  height: 426px;
  background-image: url(../images/ba.svg);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.69);
}

.s3 {
  position: absolute;
  width: 100vw;
  margin-top: calc(1660px + 100vh);
  height: 1280px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  background-color: #d6f8fc;
  -webkit-box-shadow: 0px -1px 17px 1px rgba(31,27,31,0.5);
  -moz-box-shadow: 0px -1px 17px 1px rgba(31,27,31,0.5);
  box-shadow: 0px -1px 17px 1px rgba(31,27,31,0.5);
  z-index: 1;
}

.s3 .text {
  position: relative;
  top: 40px;
  margin-left: 60px;
  font-size: 44px;
  cursor: default;
  line-height: 66px;
}

.s3 .text span {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  cursor: default;
}

.collection {
  position: relative;
  margin-top: 80px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.t p, .skate p, .cups p, .pil p {
  top: 30px;
  position: relative;
}

.t:hover, .skate:hover, .cups:hover, .pil:hover {
  transform: scale(1.04);
  z-index: 99;
}

.t {
  position: relative;
  top: 88px;
  width: 360px;
  height: 175px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.t-sh {
  width: 360px;
  height: 176px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  background-image: url(../images/tshirt-01.svg);
  background-size: cover;
  position: relative;
}

.pil {
  position: relative;
  top: 280px;
  width: 360px;
  height: 175px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.pillow {
  width: 360px;
  height: 197px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  background-image: url(../images/pillow-01.svg);
  background-size: cover;
  position: relative;
}

.left {
  margin: 60px;
  margin-top: -200px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}

.skate {
  position: relative;
  top: 88px;
  width: 360px;
  height: 293px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.board {
  width: 360px;
  height: 246px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  background-image: url(../images/skate-01.svg);
  background-size: cover;
  position: relative;
}

.cups {
  position: relative;
  top: 88px;
  width: 360px;
  height: 293px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.cu {
  width: 360px;
  height: 246px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  background-image: url(../images/cups-01.svg);
  background-size: cover;
  position: relative;
}

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  bottom: 162px;
  width: 100vw;
}

footer p {
  font-size: 14px;
}

.btn {
  position: absolute;
  bottom: -100px;
  text-align: center;
  width: 254px;
  border-radius: 113px;
  height: 66px;
  line-height: 65px;
  font-weight: bold;
  font-size: 27px;
  color: white;
  text-decoration: none;
  background-color: dodgerblue;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.7);
  cursor: pointer;
}

.btn:active {
  width: 250px;
  height: 64px;
}

.popup {
  position: absolute;
  bottom: 82px;
  right: -43px;
  width: 343px;
  height: 240px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
  background-color: white;
  visibility: hidden;
}

.popup:active, .popup:hover {
  visibility: visible;
}

.btn .show {
  visibility: visible;
}

.popup p {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  left: 20px;
}

.send {
  position: absolute;
  width: 158px;
  height: 37px;
  left: 91.5px;
  bottom: 9px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  border-radius: 23px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
}

.send:active {
  width: 155px;
  height: 34px;
}

.full {
  display: none;
}
