* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {

  box-shadow: 0 0 6px 2px rgba(0,0,0,1);
  outline: 2px solid slategrey;
  opacity: 0.69;
  border-radius: 3px;
  height: 10px;
}

body {
  background-color: whitesmoke;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
}
