@media screen and (max-width: 1180px) {
  .compact {
    display: none;
  }

  .full {
    display: block;
  }

  .s1, .s2, .s3 {
    width: 1180px;
  }

  .s1 {
    height: 100vh;
  }

  .s1 .text {
    width: 100%;
    font-size: 73px;
  }

  .arrow {
    width: 1180px;
  }

  .s2 {
    height: 3920px;
  }

  .gifwrap {
    position: relative;
    margin: 40px;
  }

  .gif {
    left: 0;
    width: 181px;
    height: 200px;
  }

  .s2 .text1 {
    font-size: 23px;
  }

  .s2 .text2, .s3 .text {
    width: 538px;
    font-size: 38px;
  }

  .s3 .text {
    line-height: 0;
  }

  .s3 .text p {
    line-height: 66px;
  }

  .s3 .text span {
    top: 10px;
    line-height: 38px;
  }

  .posters, .poster {
    width: 1180px;
    margin-left: 0;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
  }

  .poster {
    position: relative;
    top: 110px;
  }

  .poster1, .poster2, .poster3 {
    width: auto;
    display: block;
    justify-content: space-between;
  }

  .poster2 {
    margin-right: 0;
    top: 110px;
  }

  .poster1:hover, .poster2:hover, .poster3:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .p1, .p2 {
    width: 538px;
    height: 814px;
  }

  .p3 {
    width: 538px;
    height: 686px;
  }

  .poster1 p, .poster2 p, .poster3 p {
    position: relative;
    margin-left: 0;
    font-size: 23px;
    width: 538px;
  }

  .s3 .text span, .t, .pil, .skate, .cups {
    font-size: 23px;
  }

  .s3 {
    margin-top: calc(3920px + 100vh);
    height: 1800px;
  }

  .collection {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .pil {
    top: 200px;
  }

  .cups {
    top: 150px;
  }

  .left {
    margin-top: 250px;
    flex-direction: column;
    align-items: center;
  }

  footer {
    width: 1180px;
    bottom: 180px;
  }

  footer p {
    font-size: 13px;
  }

  .btn {
    font-size: 23px;
  }

  .popup p {
    font-size: 13px;
  }
}
