@media screen and (max-width: 1180px){

  .compact {
    display: none;
  }

  .full {
    display: block;
  }

  .s1 .text {
    font-size: 73px;
  }

  .s2 {
    height: 2160px;
  }

  .gif {
    width: 122px;
    height: 134px;
  }

  .s2 .text1 {
    font-size: 20px;
  }

  .s2 .text2, .s3 .text {
    font-size: 37px;
  }

  .posters {
    flex-direction: column;
  }

  .poster1, .poster2, .poster3 {
    width: 78vw;
  }

  .poster2 {
    margin-top: 120px
  }

  .poster1 p, .poster2 p, .poster3 p {
    margin-left: 392px;
    font-size: 18px;
    width: 400px;
  }

  .s3 .text span, .t, .pil, .skate, .cups {
    font-size: 20px;
  }

  .s3 {
    margin-top: calc(2160px + 100vh);
    height: 1800px;
  }

  .collection {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .pil {
    top: 200px;
  }

  .cups {
    top: 150px;
  }

  .left {
    margin-top: 250px;
    flex-direction: column;
    align-items: center;
  }

  footer {
    bottom: 180px;
  }

  footer p {
    font-size: 13px;
  }

  .btn {
    font-size: 23px;
  }

  .popup p {
    font-size: 13px;
  }
}


@media screen and (max-width: 840px){

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .s2 .text1 {
    font-size: 13px;
  }

  .s2 .text2, .s3 .text {
    font-size: 34px;
  }

  .poster1, .poster2, .poster3 {
    width: 83vw;
  }

  .poster1 p, .poster2 p, .poster3 p {
    margin-left: 378px;
    font-size: 13px;
  }

  .s3 .text span, .t, .pil, .skate, .cups {
    font-size: 13px;
  }
}
